@model IEnumerable<MagicStore.Models.Card>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="">
                <h1>
                    Cartas de Magic
                </h1>
            </div>
        </div>
            @foreach (var card in Model)
            {
                <div class="col-lg-4">
                    <h2>
                        @card.CardName
                    </h2>
                    <img src="@card.CardImageUrl" alt="@card.CardName">
                    <h3>@card.CardPrice.ToString("c")</h3>
                </div>
            }
    </div>
</div>