@using MagicStore.Repositories
@model HomeViewModel

<div class="text-center">
    <partial name="_Carousel" />
    
</div>
<div class="row align-items-end">
    <div class="col-lg-12">
        <div>
            <h2>Cartas Favoritas da Semana</h2>
        </div>
    </div>
    @foreach (var carta in Model.CartasPreferidas)
    {
        <partial name="_CardsList" for="@carta"/>
    }
</div>