@model Card

<div class="col-lg-3 my-3">
    <div>
        <h2>
            @Model.CardName
        </h2>
        <img src="@Model.CardImageUrl" alt="@Model.CardName">
        <h3>@Model.CardPrice.ToString("c")</h3>
    </div>
</div>