@model Carta

<div class="col-lg-3 my-3">
    <div>
        <h2>
            @Model.Nome
        </h2>
        <img src="@Model.ImagemUrl" alt="@Model.Nome">
        <h3>@Model.Preco.ToString("c")</h3>
    </div>
</div>